<html>
<head>
    <link href="../../Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>

    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input type="text" placeholder="LoginID" value="admin" id="txtLoginID" />
                <input type="password" placeholder="TransactionKey" value="123" id="txtTransactionKey" />
                <button onclick="GetLogin()">Login</button>
            </form>
        </div>
    </div>

    <script src="../../Scripts/PageScripts/index.js"></script>
</body>
</html>